<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <form action="/" method="post">
            <h2>Contact Now</h2>
            <input type="text" name="username" id="username" placeholder="enter username" />
            <input type="email" name="email" id="email" placeholder="enter email" />

            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>